body, html {
    height: 100%;
  }

.bg-color-left {
    background: darkturquoise;
}

.bg-color-right {
    background: #1D1B1B;
}

.blue-text {
    color: darkturquoise;
}

.left-text {
    color: white;
}

.interactive-part {
    height: 94%;
}

.bar {
    height: 6%;
    background: black;
    color: white;
}

.bar-text {
    display: inline;
}

.window {
    height: 60%;
    background: coral;
}

.console {
    height: 40%;
    background: darkslategray;
    padding: 10px;
    font-family: Courier New, Courier, monospace
}

.no-padding {
    padding: 0px;
}

.chapters-list {
    padding-left: 50px;
    padding-top: 10px;
}

.chapters-item:hover {
    color: yellow;
    cursor:pointer;
}